<p>Dear user,</p>

<p>We received an application to change your 8beat account email address. Please
  enter the following code to complete your changing process. The code is valid
  for 30 minutes</p>

<p>Your 8beat code is <b>{{code}}</b></p>

<p>If you think that you have received this message in error, it would be
  appreciated if you could please take the time to contact and inform us. Thank
  you.</p>

<p>This is an automated email, please do not reply to this email.</p>
<p>Thanks and best regards!</p>
<p>8beat support team</p>