<p>Dear user,</p>

<p>You have requested to receive a verification code to reset your password. The
  code is valid within 30 minutes.</p>
<p>Your code is <b>{{code}}</b></p>

<p>This is an automated email, please do not reply to this email.</p>
<p>Thanks and best regards!</p>
