<p>Dear user,</p>

<p>You have just registered an account with us. Please enter the verification
  code below to complete your registration. The link is valid within 30 minutes</p>

<p>Your code is <b>{{code}}</b></p>

<p>This is an automated email, please do not reply to this email.</p>
<p>Thanks and best regards!</p>
