<p>Dear user,</p>

<p>You are changing your email address on 8beat site. Please enter the following
  code to confirm that you are the one performing the action. The code is valid
  for 30 minutes</p>

<p>Your 8beat code is <b>{{code}}</b></p>

<p>If there is a suspicious attempt, contact us or change your password to
  protect your account
</p>

<p>This is an automated email, please do not reply to this email.</p>
<p>Thanks and best regards!</p>
<p>8beat support team</p>